Screen {
    layout: grid;
    grid-size: 1 2;
    grid-rows: auto;
    grid-gutter: 0;
}

.game_row {
    color: auto;
    background: grey;
    border: solid red;
    margin: -2 0;
    padding: 0;
}